/node_modules
/dist
/build/daemon.ver
/build/venv
*.pyc
/static/daemon/lbrynet*
/static/locales

/android/build
/android/app/build
/android/.idea
/android/.gradle
/android/local.properties

.idea/

# Xcode
#
/ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
